/* Changes color of the background page */
body{
    background-color:rgb(8, 8, 51);
    margin:0%
}

/* Changes color of the top navigation bar */
.topnav{
    background-color: #000;
    overflow:hidden;
}

/* Styles the links in the top navigation bar */
.topnav a{
    float:left;
    color:aliceblue;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:17px;
}

/* Styles the links when hovered over */
.topnav a:hover{
    background-color:forestgreen;
    color:black;
}

/* Styles the link leading to the page your currently on */
.topnav a.active{
    background-color: forestgreen;
    color:black;
}

/* Makes the login button hover to the right */
.topnav a.loginButton{
    float:right;
    color:crimson;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:17px;
}
h1{
    color:forestgreen;
    float:center;
    padding-left: 35%;
    padding-right: 35%;
}
h3{
    color: forestgreen;
    float:center;
    padding: 35%;
    padding-top: 2%;
}
